@tailwind base;
@tailwind components;
@tailwind utilities;


.contents {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Space Grotesk", sans-serif;
    background: url("/images/bg.svg"),
        linear-gradient(45deg, #6e436c 25%, #2a4584 55%);
    background-size: cover;
    z-index: -999;
    background-attachment: fixed;
}